<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- vuejs@2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <header class="flex items-center justify-center py-2 bg-slate-700">
        <select
          @change.prevent="genreFilter"
          class="py-2 px-4"
          name="genre"
          v-model="currentGenre"
        >
          <option disabled selected>--Seleziona genere--</option>
          <option v-for="genre in allGenres" :value="genre">{{genre}}</option>
        </select>
      </header>
      <main class="bg-slate-800 h-[100vh] flex items-center overflow-auto">
        <div class="container mx-auto">
          <section class="grid grid-cols-5 gap-4" id="library">
            <div
              v-for="album in albums"
              class="card text-center p-5 bg-slate-700"
            >
              <img class="w-full" :src="album.poster" :alt="album.title" />
              <h2 class="text-white uppercase text-2xl font-bold pt-5">
                {{album.title}}
              </h2>
              <div class="text-slate-400 capitalize text-xl pt-3">
                {{album.author}}
              </div>
              <div class="text-slate-400 text-xl">{{album.year}}</div>
            </div>
          </section>
        </div>
      </main>
    </div>

    <script src="main.js"></script>
  </body>
</html>
